.home{
  overflow: hidden;
}
.btn
{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundIMG{
  background-image:
  url('https://images.pexels.com/photos/3822364/pexels-photo-3822364.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
height: 120vh;
margin-top:-30vh;
background-size: cover;
background-repeat: no-repeat;
}

.btn button{
  margin-top: -5%;
  font-size: 18px;
  padding: 11px;
  border-radius: 8px;
  cursor: pointer;
}


.form{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
 
}
.form-item{
  border: solid 0.05px rgba(145, 144, 144, 0.283);
  border-radius: 7px;
  padding: 0% 10% 5% 10%;
  width: 80%;
}
.form-item1{
  border: solid 0.05px rgba(145, 144, 144, 0.283);
  border-radius: 7px;
  padding: 5% 10%;
}
.form-item h1{
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
.submit-form{
  width: 100%;
  text-align: center;
  margin-top: 5%;
  
}
.submit-form button{
  width:150px;
  padding: 10px;
  /* margin: 6px 5px  10px 0; */
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.fill{
  margin: 10px 0;
}
.fill input{
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: solid 0.05px rgba(145, 144, 144, 0.283);
  border-radius: 4px;
}
.filled{
  width: 103%;
  margin: 5px 0;
  padding: 10px;
  border: solid 0.05px rgba(145, 144, 144, 0.283);
  border-radius: 4px;
  font-size: 15px;
}
.submit-btn{
  width:150px;
  padding: 10px;
  margin: 6px 5px  10px 0;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
.alter{
  text-decoration: underline;
  margin: 0 6px;

}
/* .btn{
  margin: 10px 0; 
  margin-right:8px;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

} */
.navbar{
  width: 100%;
  position: sticky;
  display: flex;
  background-color: rgb(89 125 146);
  justify-content: space-around;
}
.menu{
  display: flex;
  align-items: center;
}
.menu .list{
  display: flex;
  list-style: none;
  
}

.list li{
  /* font-weight: bold; */
  color: white;
  cursor: pointer;
  margin: 0px 30px;

}


@media screen and (max-width:600px) {
  .backgroundIMG{
    margin-left: -30%;
  }
  .btn{
    margin-left: 12%;
  }
}
@media screen and (max-width:500px) {
  .backgroundIMG{
    background-image:
  url('https://images.pexels.com/photos/13849063/pexels-photo-13849063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  margin-top: -14%;
  }
  .btn{
    margin-left: 12%;
  }
}